<% include layout %>

<body>
<!-- 
	<form action="/upload", method="POST", enctype="multipart/form-data">
	      <input type="file" name="config" >
	      <input type="submit" value="Submit" class="btn btn-danger">
	</form>

	<form action="/generate_graph", method="POST">
		<button type="submit" class="btn btn-primary">Parse</button>
	</form>

	<form action="/clean_graph", method="POST">
		<button type="submit" class="btn btn-primary">Clean</button>
	</form>
-->
	<div id="myDiagramDiv" style="border: solid 1px blue; width:100%; height:600px">
	</div>

	<h2>Explicit Intent Flows</h2>
	<div>
		<% JSON.stringify(expIntent_flows) %>
		<% for(var i=0; i<expIntent_flows.length; i++) { %>
			<%= expIntent_flows[i].from + ' --- ' + expIntent_flows[i].thru + ' ---> ' + expIntent_flows[i].to %></br>
		<% } %>
	</div>

	<h2>Implicit Intent</h2>
	<div>
		<% JSON.stringify(impIntent_flows) %>
		<% for(var i=0; i<impIntent_flows.length; i++) { %>
			<%= impIntent_flows[i].from + ' --- ' + impIntent_flows[i].thru + ' ---> ' + impIntent_flows[i].action %></br>
		<% } %>
	</div>

	<div id="nodeData" style="visibility:hidden">
		<%= JSON.stringify(nodeDataArray) %>
	</div>

	<div id="linkData" style="visibility:hidden">
		<%= JSON.stringify(linkDataArray) %>
	</div>

</body>