<% include layout %>

<body>
	<!--<h1 class="header">Welcome</h1>-->
	<h3>Android Application Capability and Potential Information Leakage Analysis</h3>

	<p>The system will extract your mobile device info, and upload to analyze.</p>
	<p>Here you can see your mobile system information, and whether potential information leakage issues exist in your mobile.</p>

	<p>The system is now supporting the following issues:</p>
	<ul>
		<li>SMS Intercept</li>
		<li>Servce Permission Spreading</li>
		<li>SharedUserId Permission Spreading</li>
	</ul>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="test.js"></script>

</body>
