<% include layout %>

<body>
	<h1 class="header">Welcome</h2>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="test.js"></script>

</body>
