<!doctype html>
<html>
<head>
	<title>MAM Server</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="/javascripts/go.js"></script>
	<script type="text/javascript" src="/javascripts/results.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="/stylesheets/results.css" />
</head>
<body>
	<h1>MAM Server</h1>
	<a href="/">Home</a>
	<a href="/smsInterceptList">SMS_Intercept</a>
	<a href="/PS_Service">PS_Service</a>
	<a href="/PS_SUID">PS_SUID</a>
	<hr>
</body>
</html>