<% include layout %>

<body>
	<h2>Apps with permission spreading (SharedUserId)</h2>
	<p>
		<table style="border: hidden" rules="all" cellpadding="5" cellspacing="5">
		<tr>
		  <td>SharedUserId</td>
		  <td>Apps</td> 
		</tr>
		<% for(var i=0; i<results.length; i++){ %>
		<tr>
		  <td><%= results[i]['sharedUserId'] %></td>
		  <td>
		  	<% for(var j=0; j<results[i]['nodelist'].length; j++){ %>
				<%= results[i]['nodelist'][j] %></br>
			<% } %>	
		  </td>
		</tr>
		<% } %>
		</table>
	</p>


	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="test.js"></script>

</body>
