<% include layout %>

<body>
	<h2 class="header">Apps with permission spreading (Service)</h2>
	<p>
		<table class="table" style="border: hidden" rules="all" cellpadding="5" cellspacing="5">
		<tr>
		  <td>From</td>
		  <td>To</td> 
		  <td>Permissions</td>
		</tr>

		<% for(var from in results_hash){ %>
		<tr>
			<td><%= from %></td>
			<td>
				<% for(var i=0; i<results_hash[from].length; i++){ %>
				<%= results_hash[from][i] %></br>
				<% } %>	
			</td>
			<td>
				<% for(var i=0; i<permissionsMap[from].length; i++){ %>
					<% if(permissionsMap[from][i][0] == 'e'){ %>
						<font color="red"><%= permissionsMap[from][i] %></font></br>
					<% } else { %>
						<%= permissionsMap[from][i] %></br>	
					<% } %>
				<% } %>
			</td>
		</tr>
		<% } %>

		</table>
	</p><br />

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="test.js"></script>

</body>
