<% include layout %>

<body>
	
	<form action="/upload", method="POST", enctype="multipart/form-data">
	      <input type="file" name="config" >
	      <input type="submit" value="Submit" class="btn btn-danger">
	</form>

	<form action="/generateGraph", method="POST">
		<button type="submit" class="btn btn-primary">Parse</button>
	</form>

	<form action="/cleanGraph", method="POST">
		<button type="submit" class="btn btn-primary">Clean</button>
	</form>

	<div id="myDiagramDiv" style="border: solid 1px blue; width:100%; height:600px">
	</div>

	<div id="nodeData" style="visibility:hidden">
		<%= JSON.stringify(nodeDataArray) %>
	</div>

	<div id="linkData" style="visibility:hidden">
		<%= JSON.stringify(linkDataArray) %>
	</div>

</body>