<% include layout %>

<body>
	<h2 class="header">Apps which can intercept SMS</h2>
	<p>
		<table class="table" style="border: hidden" rules="all" cellpadding="5" cellspacing="5">
		<% for(var i=0; i<results.length; i++){ %>
		<tr>
		  <td><%= results[i]['a.appPName'] %></td>
		</tr>
		<% } %>
		</table>
	</p>


	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="test.js"></script>

</body>
